extends layout

block content 
  h1 Bearbeiten: #{ticketType.typeName}
  p Felder für Vorname und Nachname sind immer enthalten.
  form(method="post") 
    label(for="typeName") Ticket-Name
    input#typeName(type="text" name='typeName' value=`${ticketType.typeName}`)
    label(for="shortName") Kurzname (erscheint in URL)
    input#shortName(type="text", name="shortName" value=`${ticketType.shortName}`)
    each fieldType in ticketType.additionalFieldTypes
      div.additionalFieldGroup
        input(type="text" value=`${fieldType.name}` name=`${fieldType.id}`)
    div#newFieldsContainer
    button#addFields(type="button") Feld hinzufügen
    label(for="ticketTypeActive") Ticket aktiv
    if ticketType.active
      input#ticketTypeActive(type="checkbox", name="ticketTypeActive" style='width: auto; margin: 1.5rem' checked) 
    else
      input#ticketTypeActive(type="checkbox", name="ticketTypeActive" style='width: auto; margin: 1.5rem') 
    button(type="submit") Aktualisieren
  if error
    p #{error}  
  form(action=`${ticketType.id}/delete`, method="post") 
    button(type="submit") Löschen 

  script(src="/javascripts/createTemplate.js") 