extends layout

block content
  h1 Ticket: Detail
  p Name: #{ticket.firstName} #{ticket.lastName}
  p Einreichungsdatum: #{ticket.prettyDate}
  p Ticket-Typ: #{ticket.ticketType.typeName}
  each field of ticket.additionalFields
    p #{field.name}: #{field.value}