extends layout

block content
  h1 Ticket: Detail
  p Name: #{ticket.firstName} #{ticket.lastName}
  p E-Mail: #{ticket.email}
  p Einreichungsdatum: #{ticket.prettyDate}
  each field of ticket.additionalFields
    p #{field.name}: #{field.value}