extends layout

block content
  h1 Tickets
  if user
    div.ticketsDashboardTable
      p Ticket-Nr.
      p Anfrage von
      p Anfragetyp
      p Anfragedatum
      each ticket in tickets
        p
          a(href=`/ticketDetail/${ticket.prettyID}`)  #{ticket.prettyID} 
        p #{ticket.name}
        p #{ticket.ticketType.typeName} 
        p #{ticket.prettyDate}
  else 
    p Melden Sie sich an, um Tickets zu sehen.