extends layout

block content
  h1 Self Service Helpdesk 
  h2 Ticket Erstellen 
  form.ticketForm(method="POST")
    label(for="firstName") Vorname
    input#firstName(type="text", name='firstName') 
    label(for="lastName") Nachname 
    input#lastName(type="text", name='lastName') 
    label(for="email") E-Mail 
    input#email(type="text", name='email') 
    each fieldType in additionalFieldTypes
      label(for=`${fieldType.shortName}`) #{fieldType.name}
      input(id=`${fieldType.shortName}` type=`${fieldType.type}`, name=`${fieldType.shortName}`) 
    button(type="submit") Absenden
